*.class
*.log
target/*
.idea/*
*iml
.DS_Store
src/main/resources/serviceAccount.json
src/main/resources/data/log/*
src/main/resources/data/*_bkp.json
src/main/resources/application.conf

# ui
# dependencies
src/main/java/com/vc/docs/src/node_modules
src/main/java/com/vc/web/ui/node_modules
src/main/java/com/vc/docs/src/.pnp
src/main/java/com/vc/web/ui/.pnp
src/main/java/com/vc/docs/src/.pnp.js
src/main/java/com/vc/web/ui/.pnp.js

# testing
src/main/java/com/vc/docs/ui/coverage
src/main/java/com/vc/web/ui/coverage

# next.js
src/main/java/com/vc/docs/src/.next/
src/main/java/com/vc/web/ui/.next/
src/main/java/com/vc/docs/src/out/
src/main/java/com/vc/web/ui/out/

# production
src/main/java/com/vc/docs/ui/build
src/main/java/com/vc/web/ui/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

.firebase/*